<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <h1>kdjk</h1>


<img style="height: 200px;" src="/images/homeImage.jpg" alt="sd">
<img style="height: 200px;" src="/images/developer.jpg" alt="sd">
<a href="/images/homeImage.jpg">jkehj</a>
<a href="/images/resume.jpg.pdf">resume</a>
<a href="/images/FINAL_SUBMIT.pdf">Submission</a>
    <form action="/" method="post" enctype="multipart/form-data">
        
        <input type="file" name="filetoupload"><br>
        <input type="submit">
    
        
        <img src="C:UsersMudasirDesktopwebdev%uploadingpdfsserverimagesprofile.jpg" />
        
        </form>
    
</body>
</html>